<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Tailspin.SpaceGame.Web.Models2" value="https://pkgs.dev.azure.com/dcorrain-gmail/ca675c83-37a3-472d-8bc6-3d0cc452f92a/_packaging/Tailspin.SpaceGame.Web.Models2/nuget/v3/index.json" />
  </packageSources>
</configuration>
